name: ranklig-development-database

services:
    database:
        image: postgres:alpine
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: postgres
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres -d postgres']
            interval: 5s
            retries: 5
            start_period: 5s
            timeout: 10s
        volumes:
            - postgres_data:/var/lib/postgresql/data
    seed:
        build:
            context: .
            dockerfile: seed.Dockerfile
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: postgres
            POSTGRES_HOST: database
        depends_on:
            database:
                condition: service_healthy

volumes:
    postgres_data:
