name: production-like-ranklig

services:
    app:
        restart: 'no'
        build:
            context: .
            dockerfile: build.Dockerfile
        depends_on:
            migrator:
                condition: service_completed_successfully
        ports:
            - 3000:3000
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: postgres
            POSTGRES_HOST: database
            JWT_SECRET: ${JWT_SECRET}

    database:
        image: postgres:18-alpine
        restart: 'no'
        ports:
            - 5432:5432
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres -d postgres']
            interval: 5s
            retries: 5
            start_period: 5s
            timeout: 10s
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: postgres
        volumes:
            - db_data:/var/lib/postgresql/data

    migrator:
        build:
            context: .
            dockerfile: build.Dockerfile
        restart: 'no'
        depends_on:
            database:
                condition: service_healthy
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: postgres
            POSTGRES_HOST: database
        command: ['bun', 'run', 'migrate', 'latest']

volumes:
    db_data:
